.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

h3 {
  margin: 3rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem 1rem 0;
}

.actions Button {
  width: 6rem;
  height: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.actions Button:hover {
  background-color: darkgreen;
  color: white;
  box-shadow: 0 0 0 0;
}

.close {
  background-color: white;
  color: green;
}

