.input {
  min-width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.input label {
  font-weight: bold;
}

.input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font: inherit;
  padding: 0 0 0.1rem 0.5rem;
}
